@font-face{
	font-family:Minecraft;
	src:url("items/minecraft.eot"),url("items/minecraft.woff") format("woff");
}

html{
	font-family: "Microsoft Yahei", Tahoma;
}
body{
	margin: 0;
}
nav{
	position:fixed;
	height:100%;
	width: 14%;
	top:0; 	left:0;
}
div#main_part{
	width: 86%;
	float: right;
}
footer{
	display:block;
	position:fixed;
	width: 14%;
	bottom:0;
	left:0;
}
article{
	margin:2em 3em;
}
p{
	text-indent: 2em;
}
p.ex{
	text-indent: 0em;
}
p.ex:before{ 
	content:"例 ";
	font-weight: bold;
}
p.noindent{
	text-indent: 0em;
}
h1, h2, h3, h4, h5, h6{
	font-family: verdana, 黑体;
}
h1{
	border-bottom:solid 2px grey;
	padding:30px 0 5px;
}
h2{
	font-size: 120%;
}
h3{
	font-size: 110%;
	display: inline;
}
article a{
	text-decoration:none;
}
article a:hover{
	text-decoration: underline;
}
abbr{
	cursor:help;
}
em{
	font-style:italic;
}
p.ex{
	text-indent: 0;
}
p.ex:before{ 
	content:"例：";
	font-weight: bold;
}
/* 图片 */
figure{
	text-align:center;
	text-indent: 0;
}
figcaption{
	font-family: 楷体, SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace,Courier;
}
figure img{
	border: rgb(219, 156, 30) 2px solid;
	border-color: hsl(40,40%,20%);
}
/* 代码 */
code{
	color:black;
	font-weight: normal;
	font-size:100%;
	background-color:white;
	font-family: SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace,Courier;
}
pre{
	color:black;
	font-weight: normal;
	font-size:100%;
	background-color:white;
	padding: 8px 10px;
	font-family: SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace,Courier;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}
pre.file{
	background-color:#c0c0c0;
	margin-bottom: 0;
}
pre.file + pre{
	margin-top: 0;
}
/* 导航 */
nav{
	font-size: 100%;
	font-weight: bold;
}
nav a, nav a:hover{
	color:white;
	text-decoration:none;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
nav ul{
	margin: 0; 
	padding: 0;
	height: 2em;
	list-style-type: none;
}
nav a{
	display: block;
	height:100%; width:100%;
	padding: 6px 2px 6px 16px;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul{
	width: 100%;
	margin-left:100%;
	margin-top: -2.04em;
	padding: 0;
	top: auto;
	float: left;
	display: none;
	position: absolute;
	z-index: 9;
	opacity:0.98;
}
nav ul li.up1 ul{
	margin-top:-4.08em;
}
nav ul li.up2 ul{
	margin-top:-6.12em;
}
nav ul li.up3 ul{
	margin-top:-8.16em;
}
nav ul li.up4 ul{
	margin-top:-10.2em;
}
nav ul li.up5 ul{
	margin-top:-12.24em;
}
nav ul li.up6 ul{
	margin-top:-14.28em;
}
nav ul li.up7 ul{
	margin-top:-16.32em;
}
nav ul li.up8 ul{
	margin-top:-18.36em;
}
nav ul li.up9 ul{
	margin-top:-20.4em;
}
/* 表格 */
table{
	margin: 20px 0px;
	background-color:#fff;
	border-collapse:collapse;
}
th, td{
	border:1px solid #aaa;
	padding:0.2em 0.4em;
	vertical-align:middle;
}
thead th{
	background: #505050;
	font-weight:bold;
	color: white;
}
tbody th{
	background-color: #d0d0d0;
}

span.ui a.magma_block, a.magma_block{
	background-image: url("magma_block.gif");
	background-size: 32px 32px;
}
span.ui a.prismarine, a.prismarine{
	background-image: url("prismarine.gif");
	background-size: 32px 32px;
}
span.ui a.xp_orb, a.xp_orb{
	background-image: url("xp_orb.gif");
	background-size: 32px 32px;
}
span.ui a.fire, a.fire{
	background-image: url("fire.gif");
	background-size: 32px 32px;
}

body{
	background-color: #eee;
}
article a{
	color: hsl(220, 50%, 50%);
}
nav, nav ul ul li{
	background: #505050;
}
nav li:hover{
	background-color: #000;
}
